<div class="header">
  <div class="logo">
    <img _ngcontent-c4="" alt="" src="http://gralsin-img.s3.amazonaws.com/logo_g.png"
      style="cursor: pointer; width:100%">
  </div>
  <div class="right_after_logo">
    <div class="info_business">
      <div style='text-align: center'>
        <span style='color:#c0392b; font-size:14px; font-weight: bold'>GRALSIN Logística Ltda.</span>
      </div>
      <div style='text-align: center'>
        <span>Rua das Arraias,50 - Sala 608, Pq. Res. Aquarius, São José dos Campos – SP.</span>
      </div>
      <div style='text-align: center'>
        <span>Brasil - CNPJ: 29.102.583/0001-43</span>
      </div>
    </div>
  </div>
</div>