<mat-accordion>
  <mat-expansion-panel [expanded]="id_proposta || dataReceive">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Captações
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="10px" fxFlexAlign="center">
      <div fxFlex="100">  
          <arm-item
            *ngFor="let select of selects; let idx=index"
            [id]="idx"
            (sendItem)='changedItem()'
            [id_proposta]='id_proposta'
            (sendForm)="forkForm($event)"
            [receiveData]="select.data"
            (selfDestroy)="destroy($event)"
            [formFull]='formFull'
            (itemSelec)='itemSelect($event)'
            [formEdit]='formEdit'
          ></arm-item>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end" *ngIf='!formEdit'>
        <mat-icon matTooltip="Adicionar" (click)="addSelect()" class="ico">add_circle</mat-icon>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div>{{message}}</div>
<!-- {{documentos.value | json}} -->
