
.header-blue {
    background:#3b5998;
}

.tableList {
    width:100%;
}


.img {
    width: 100%;
 }

 .wrap_table {
   overflow-x: auto;
 }

  .container {
    min-height: 100%;
    width: 100%;
    /* background:red */
  }

  table {
    width: 100%;height:100%
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .button-row button,
.button-row a {
  margin: 8px;
  
}
.mat {
  margin-top:80px
}

expansion-panel {
  /* position: absolute; */
  width:100%
}
p {
  margin:0px
}

/* p::first-letter {
  display: block;
  text-transform: uppercase
} */

.upper {
  display:inline-block;
  /* vertical-align: middle; */
}

.mat-column-checkbox {
  width:80px;
}


tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.description_sm {
  padding: 16px;
  width:50%;
}
.description_md {
  padding: 16px;
  width:80%;
}
.description_full {
  padding: 16px;
  width:100%;
}

.icoTd {
  display:inline-block;
  vertical-align: middle;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
}

.vertical-align mat-chip {
  cursor: pointer
}

.button_menu::after {
  left: 7px;
  top: 40%;
  transform: rotate(900deg);
}

.eventos_icon {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  margin-left:1px;
  padding: 7px;
  border-radius: 24px;
  align-items: center;
  position: relative;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 18px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-right: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper  {
  padding: 0
}

.menu_button {
  padding: 8px;
  display: inline-block
}

.menu_report {
  padding-top: 8px;
  float: right;
}

.menu_report img{
  cursor: pointer;
}

button {
  margin-right: 4px;
}

.mat-elevation-z8 {
  position:relative;
  overflow: auto;
}

.text-captalize {
  text-transform: capitalize;
}
.text-upper {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer
}

div.wrap_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  line-height: 52px;
  text-align: center;
  color: #3f51b5;
}

.title::first-letter {
  text-transform: capitalize
}

.tooltip {
  white-space: pre-line;
}

.eventos_icon:nth-child(3n) {
  display: block;
}





  

