<mat-accordion>
  <mat-expansion-panel [expanded]="dataReceive">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anexo
      </mat-panel-title>
      <mat-panel-description>
        Anexos da fatura
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="10px" fxFlexAlign="center">
      <div fxFlex="100">  
          <arm-select
            *ngFor="let select of selects; let idx=index"
            [id]="idx"
            [view]='view'
            (sendForm)="forkForm($event)"
            [receiveData]="select.data"
            (selfDestroy)="destroy($event)"
            [formReceive]='formReceive'
          ></arm-select>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end" >
        <mat-icon matTooltip="Adicionar" (click)="addSelect()" class="ico">add_circle</mat-icon>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- {{documentos.value | json}} -->
