.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 100%;
}

.mat-table {
  width:100%;
}

p::first-letter {
  text-transform: uppercase
}

p {
  margin:0px
}

i {
  cursor: pointer;
}


