<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="form_name">CPF *</label>
      <input id="form_name" type="text" name="name" class="form-control" placeholder="CPF *" required="required" data-error="CPF Requerido.">
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="form_name">RG *</label>
      <input id="form_name" type="text" name="name" class="form-control" placeholder="CPF *" required="required" data-error="RG Requerido.">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>
