<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="form_name">CNPJ *</label>
      <input id="form_name" type="text" name="name" class="form-control" placeholder="CNPJ *" required="required" data-error="Firstname is required.">
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="form_name">Inscrição Estadual *</label>
      <input id="form_name" type="text" name="name" class="form-control" placeholder="Inscrição Estadual *" required="required" data-error="Firstname is required.">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>
